# Regression

This is a template notebook for regression modelling.

Author: {{ cookiecutter.author_name }}
Created: {{ cookiecutter.timestamp }}

## How to use the notebook

The following cells:
- specify objective, variables, and variable types,
- set up the regression models,
- read dataset,
- present results from the model,
- provide the model with the best performance.

By default, the notebook is set up to run with an example (sklearn diabetes). To see how it works, run the notebook without changing the code.

For your project, adjust the code in the linked cells with your objectives, variables, dataset etc. and then execute all cells in order.

Please refer to regression.board for detailed instructions.

## Parameter Setup
The following parameters and variables should be adjusted based on your data and experimental objectives

### Project

In [1]:
experiment_name = 'regression'  # please provide a name for the regression experiment
from regression_imports import *

### Dataset

In [2]:
path = 'default example' # Specify the filepath here
test_size = 0.25 # You may adjust this value to change the train/test split ratio

df = load_data(path)
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,0

### Variables

In [3]:
# Specify exactly the names of the dependent variables (aka variables you wish to predict)
target = ['target'] # eg. ['variable1', 'variable2']

In [ ]:
# For manual reduction
variables_to_remove = ['bmi'] # eg. ['variable1'] or empty list [] if none to remove

### Train

In [ ]:
%run -i regression_exec

In [ ]:
show_results()

### Predict

In [ ]:
from regression_predict import predict
predict(df[labels], target_labels)